@import './variables.css';
@import './normalize';

#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-main);
  color: #333;
  background-color: #4B463F;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  color: var(--color-primary);
}

/* Общие классы
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.section {
  padding: var(--section-spacing) 0;
} */