.header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding-inline: 10px;
    font-family: var(--font-heading);
    
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.37);
    border: 1px none rgba(255, 255, 255, 0.18);
    border-radius: 5px;
}

.headerNav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.headerNav a {
    color: var(--color-secondary);
}