.calcContainer {
    width: 100vh;
    height: 100vh;

    margin-top: 50px;
    margin-bottom: 15px;
    padding-inline: 10px;
    font-family: var(--font-heading);
    
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.37);
    border: 1px none rgba(255, 255, 255, 0.18);
    border-radius: 5px;

    background-color: cadetblue;
}

.propsContainer {
    display: flex;
}